html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding-bottom: 70px;
	position: relative;
}

#wrapper {
	height: 100%;
	width: 100%;
	min-height: 100%;
}

#content {
	float: none;
	vertical-align: middle;
	height:100%;
	display:table;
}

/*landing page*/
#splash {
	display:table-cell; 
	vertical-align: middle;

	background-attachment: fixed;
	background-image: url('../img/needle.jpg');
	background-size: cover;
	background-position: 50% 40%;
	background-repeat: no-repeat; 
	display: block;

}
/* Prevent image distortion on mobile due to background-attachment: fixed issue on mobile safari*/
@media all and (max-width: 1400px;) {
	#splash {
		background-attachment: scroll;
	}
}

#title-block {
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	top: 30%;

}

.title {
	color: white;
}

h1 {
	font-size: 90px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

h2 {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
}

h3 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

@media all and (max-width: 630px) { 
	h1 {
		font-size: 70px;
	}
}

@media all and (max-width: 530px) { 
	h1 {
		font-size: 60px;
	}
}

@media all and (max-width: 430px) { 
	h1 {
		font-size: 50px;
	}
}

@media all and (max-width: 330px) { 
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 20px;
	}
}

p {
	font-size: 15px;
}

a {
	text-decoration: none !important;
}

#about {
	display: block;
}

#about-title {
	text-align: center;

}

#portfolio {
	margin-bottom: 50px;
}

/* Add padding so Contact section can scroll to header when clicked*/
#contact {
	padding-bottom: 20%;
}

.hrule {
	height: 10px;
	width: 100px;
	border-bottom: 2px solid #333;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.divider {
	height: 5px;
	width: 100%;
	border-bottom: 2px dotted #333;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#mainHeader {
	width: 100%;
	height: 50px;
	display: none;
	padding: 1em;
	position: fixed;
	padding-top: 0;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(to bottom, #FFF 0px, #F8F8F8 100%)
}

.navbar-default {
	width: 100%;
	border: none;
	background: none;
	box-shadow: none;
}

.nav-container {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-collapse {
	background-image: linear-gradient(to bottom, #FFF 0px, #F8F8F8 100%);
}

#down-arrow {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding-top: 0px;
}

#arrow {
	color: white;
	cursor: pointer;
	cursor: hand;
}

#cover {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background:white;
}

#warning {
	background: #FF4D4D;
	border: 1px solid #FF0000;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

#warning > p {
	margin: 0px;
}

#headshot {
	height: 175px;
	width: 175px;
}

.row > * {
	padding-top: 20px;
	padding-bottom: 20px;
}

.social {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 70px;
}

/* Prevent lines appearing on linke image hover */
a:hover {
	text-decoration: none;
}

.social img{
	display: inline-block;
	width: 60px;
	cursor: pointer;
	padding-bottom: 10px;
}

.tools {
	text-align: center;
	border: 1px solid #333333;
	border-radius: 5px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

.thumbnail {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	cursor: hand;
}

#about-header {
	float: left;
}

.git-link {
	float: left;
	margin-top: 7px;
	margin-left: 20px;
}

.btn-live {
	float: left;
	background-image: none;
	margin-top: 20px;
	margin-left: 15px;
}

#about-text {
	clear: left;
}

.carousel {
	margin: auto auto;
	max-width: 281px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}


.carousel-black > li {
	border-color: #333;
	background-color: white;
}

.carousel-black > .active {
	background-color: #333;
}

#site-git {
	width: 40px;
	padding-top: 10px;
}

#submit-btn {
	display: block;
	margin: 0px auto;
}