---
---
<!DOCTYPE HTML>
<!-- skel-baseline v2.0.3 | (c) n33 | getskel.com | MIT licensed -->
<html>
<head>
  <title>Baseline</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/skel-layers.min.js"></script>
  <script src="/js/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="/css/skel.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-xlarge.css" />
  </noscript>
</head>
<body id="top">

  <!-- Header -->
  <header id="header" class="skel-layers-fixed">
    <h1><a href="#">Baseline</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="#top">Top</a></li>
        <li><a href="#content">Content</a></li>
        <li><a href="#elements">Elements</a></li>
        <li><a href="#grid">Grid System</a></li>
        <li><a href="http://getskel.com" class="button special">Download</a></li>
      </ul>
    </nav>
  </header>

  <!-- Banner -->
  <section id="banner">
    <h2>I'm Baseline</h2>
    <p>A simple starting point for projects based on Skel.</p>
    <ul class="actions">
      <li><a href="#content" class="button special">Content</a></li>
      <li><a href="#elements" class="button">Elements</a></li>
      <li><a href="#grid" class="button alt">Grid System</a></li>
    </ul>
  </section>

  <!-- Main -->
  <div id="main" class="container">

    <!-- Intro -->
    <div class="row">
      <section class="6u 12u$(medium)">
        {{ content }}
      </section>
      <section class="3u 6u(medium) 12u$(small)">
        <h3>Sed Feugiat</h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum dolor sit amet nullam consequat volutpat.</p>
      </section>
      <section class="3u$ 6u$(medium) 12u$(small)">
        <h3>Lorem Ipsum</h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum dolor sit amet nullam consequat volutpat.</p>
      </section>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row double">
        <div class="6u 12u$(medium)">
          <h2>Aliquam Interdum</h2>
          <p>Ornare interdum nascetur enim lobortis nunc amet placerat pellentesque nascetur in adipiscing. Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id lorem ipsum dolor.</p>
        </div>
        <div class="3u 6u(medium) 12u$(small)">
          <h3>Accumsan</h3>
          <ul class="alt">
            <li>Nascetur nunc varius commodo.</li>
            <li>Vis id faucibus montes tempor</li>
            <li>massa amet lobortis vel.</li>
            <li>Nascetur nunc varius commodo.</li>
          </ul>
        </div>
        <div class="3u$ 6u$(medium) 12u$(small)">
          <h3>Faucibus</h3>
          <ul class="alt">
            <li>Nascetur nunc varius commodo.</li>
            <li>Vis id faucibus montes tempor</li>
            <li>massa amet lobortis vel.</li>
            <li>Nascetur nunc varius commodo.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; Untitled. All rights reserved.
    </div>
  </footer>

</body>
</html>