---
layout: default
---

<div class="row">
    <div class="-1u 10u$ -1u(medium) 10u$(medium) 12u$(small) 12u$(xsmall)">

        <article class="post">

            <div class="entry">
                {{ content }}
            </div>

            <div class="date">
                <span class="align-right"><p>{{ page.date | date: "%B %e, %Y" }}</p></span>
            </div>

        </article>

    </div>
</div>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none"
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
